name: Deploy to EC2 (no SSL)

on:
  push:
    branches:
      - release    


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Deploy over SSH
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo -i
          # cd /home/ | ls -ll
          whoami
          pwd
          sudo cd /root/web-app/user-service
          sudo pwd
          sudo git pull origin release       
          ./build.sh         
          ./run.sh
